.about-me-container
{
    height: 100vh;
    margin-top: 2rem !important;
    padding: 2rem;
    display: flex;align-items: center;
}
.about-me-title
{
    display: flex;
    gap: 1rem;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    color: var(--primary-black);
    letter-spacing: 2px;
}
.about-me-text
{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--primary-black);
    opacity: 0.9;
    letter-spacing: 1.5px;
    line-height: 2rem;
    margin-top: 4rem;
}
.carousel .slide img
{
    height: 200px;
}
.carousel .slide
{
    background: none !important;
}